/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* COMMON STYLE */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1208px;
    padding: 51px 50px 77px 50px;
}
/* header section styles */
header {
    background: #2D25A0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
/* .header-half{
    width: 45%;
} */
.header-half h1 {
    font-size: 64px;
    line-height: 80px;
    color: white;
    width: 78%;
    margin: 38px 0px 17px 0px;
}
.button {
    display: flex;
    align-items: center;
    background: #E02C6D;
    color: white;
    padding: 10px 24px 10px 24px;
    width: 168px;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 82px;
}
.button p {
    margin-right: 16px;
}
.header-half img{
    width: 556px;
    height: 438px;
}


